

//Fonts
h1 {
  font-family: $rift;
  @include vw(font-size, 200, 60);
  @include vw(line-height, 180, 65);
  font-style: normal;
  font-weight: $fwb;
  text-transform: uppercase;
}

h2 {
  font-family: $rift;
  @include vw(font-size, 48, 28);
  @include vw(line-height, 53, 22);
  font-style: normal;
  font-weight: $fwr;
  text-transform: uppercase;
}

p{
  font-family: $poppins;
  @include vw(font-size, 18, 16);
  @include vw(line-height, 22, 18);
  font-style: normal;
  font-weight: $fwl;
}

a{
  text-decoration: none;
}

.posts-loop {
  .post-card {
    cursor: pointer;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0;
    padding-left: 0;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    padding: 0 size(15);
    img {
      object-fit: cover;
       @include vw(height, 600, 480);
    }
    @media only screen and (#{$bp-smaller-than-tablet}) {
      flex-basis: 100%;
      max-width: 100%;
    }
    .overlay {
      left: 0;
      top: 0;
      /* Old browsers */
      background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(252, 252, 255, .2) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgb(252, 252, 255, .2) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgb(252, 252, 255, .2) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#fcfcff', GradientType=0);
      /* IE6-9 */
      transition: all 0.6s ease-in;
      
    }
    &.post-odd {
      margin-left: 16.66666667%;
      @media only screen and (#{$bp-smaller-than-tablet}) {
        margin-left: 0;
      }
    }
    &:hover {
      .overlay {
        background: transparent;
      }
    }
    &__container{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: 0;
      margin-left: 0;
      padding: size(30);
      align-items: flex-end;
      a{
        color: $white;
      }
    }
  }
}

.pagination{
  justify-content: center;
  align-content: center;
  margin-top: size(40);
  &__wrapper{
    h2{
      display: none;
    }
    .nav-links{
      .page-numbers{
        font-family: $poppins;
        @include vw(font-size, 28, 22);
        @include vw(line-height, 22, 18);
        font-style: normal;
        font-weight: $fwr;
         margin-left: size(15);
          margin-right: size(15);
          @media only screen and (#{$bp-smaller-than-tablet}) {
            margin-left: size(10);
            margin-right: size(10);
          }
      }
      a{
        color: $black;
        transition: color .3s ease;
        &:hover{
          opacity: .6;
        }
      }
    }
  }
}
.sidebar{
   @media only screen and (#{$bp-larger-than-tablet}) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @media only screen and (#{$bp-smaller-than-tablet}) {
    display: block;
    margin:auto;
    text-align: center;
  }
  label.screen-reader-text{
    opacity: 0;
    display: none;
  }
}

#wrapper-footer {
  background-color: $black;
  @include vw(height, 600, 680);
  @include vw(margin-top, 100, 40);
}