// Breakpoints
$bp-larger-than-mobile: "min-width: 441px" !default;
$bp-larger-than-phablet: "min-width: 551px" !default;
$bp-larger-than-tablet: "min-width: 992px" !default;
$bp-larger-than-desktop: "min-width: 1041px" !default;
$bp-larger-than-desktophd: "min-width: 1381px" !default;
$bp-smaller-than-mobile: "max-width: 440px" !default;
$bp-smaller-than-phablet: "max-width: 550px" !default;
$bp-smaller-than-tablet: "max-width: 991px" !default;
$bp-smaller-than-desktop: "max-width: 1040px" !default;
$bp-smaller-than-desktophd: "max-width: 1380px" !default;

$container-width: 1380px !default;
$containerfull-width: 100%;
$containergutter:0px;

//Fonts
$poppins: "poppins", sans-serif;
$rift: "rift", sans-serif;

//Font Weight
$fwl: 300;
$fwr: 400;
$fwb: 700;

//Colours
$white: #ffffff;
$black: #141414;

// mimick Photoshop letterspacing/tracking
@function tracking( $target ){
  	@return ($target / 1000) * 1em;
}

@mixin tracking( $target ){
  	letter-spacing: tracking( $target );
}

// to be used with centred text when using the above tracking to make text truly centred.
@function indent( $target ){
	@return ($target / 1000) * 1em;
}

@mixin indent( $target ){
	text-indent: indent( $target );
}

// The default font size for html is 16px
$base-size: 16;
//Function to convert px value into rem
//You can replace rem with any other value you want (rem is most preferred value for web)
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

//vw
 @mixin vw($property, $desktop: 0, $mobile: 0) {
  #{$property}: ($desktop / 1920 * 100) * 1vw;
  @media (max-width: 993px) { 
    #{$property}: ($mobile / 375 * 100) * 1vw;
  }
}